.main {
	background-color:#7FDBFF;
	font: times;
}

h1 {
	text-align: center;
	font: verdana 32px/16px times;
}

.words {
	text-align: center;
	margin: 30px 200px 30px 200px;
}


.bar {
	display: flex;
	background-color: black;
	border: 1px solid black;
	overflow: hidden;
  
}



.barstuff {
	margin: 10px 50px 10px 50px;
	text-decoration: none;
	color: white;
	font-size: 16px;
	padding: 15px 50px;
}

.here {
	display: flex;
	margin: 10px 50px 10px 50px;
	background-color: #F0E68C;
	text-decoration: none;
	color: white;
	font-size: 16px;
	padding: 15px 50px;
    text-align: center;
}

.cook {
	height: 50%;
	width: 50%;
	padding: 25px 0px 25px 0px;
}

.cookv2 {
	height: 75%;
	width: 75%;
	padding: 25px 0px 25px 0px;
}
