body {
  background-color: rebeccapurple;
}

h1, h2, h3 {
  backround-color: lightsteelblue;
  color: #00539F;
}

p {
  font-size: large;
  border: solid;
}

img {
  display: block;
  margin: 0 auto;
}
